
body {
    overflow-x: hidden;
    }
    .slick-slide div{
        margin: 1rem 5rem;
      } 
     .carousel-item{
        width: 200px;
        height: 50px;
    }
    h2{
        padding: 1.5rem 3rem;
    }
    .sponsors-carousel-wrapper {
        width: 100%;
        height: 250px;
        background-color: #f0efff;
    }
    
.sponsors-carousel{
    background-color:#ffffff;
    height: 20vh;
    width: 100%;
    border-top-style:  solid;
    border-top-color:#dde2fd;
    border-bottom-color:#dde2fd;
    border-bottom-style: solid;
}
.sponsors-carousel-wrapper {
    width: 100%;
    height: 350px;
    background-color: #F0EFFF;
}
.carousel-image{
    max-width: 100%;
    height: 50px;
    background-color: #ffffff;
}