
.bottom-nav{
    height: 55vh; 
    width: 100%; 
    background-color: #000000;
    border-radius: 1rem 1rem 0rem 0rem;
}
img{
    width: 100%;
}
.socials img{
    width: 30px;
    padding: 4px 3px;
}
button#sendbtn{
    background-color: #adc6ff;
}button#joinbtn{
    background-color: #00bfa5;
}
.bottom-nav li{
    padding: 3px;
}
@media screen {
 button#joinbtn{
    width: 150px;
    height: 70;
    margin-top: -15px;
 }
 .bottom-nav p{
    text-align: left;
 }
}