
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
overflow-x:hidden;
}
 .carousel-wrapper {
    width: 100vw;
    height: 250px;
    background-color: #ffffff;
}

.carousel{
    background-color:#edf0ff;
    height: 20vh;
    width: 100%;
}
.slick-slide div{
    margin: 1rem 5rem;
  } 
 .carousel-item{
    width: 200px;
    height: 50px;
}
img {
    max-width: 100%;
    height: 50px;
    background-color:#edf0ff;
}
h2{
     padding: 1.5rem 3rem;
}
h2 span {
    color: #005ac1;
}

