
.top-bar {
  width: 100%;
  font-weight: normal;
}
.nav-logo {
  width: 350px;
  height: 100px;
  object-fit: contain;
}
.nav-bar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4fff8;
}
.nav-bar1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
ul .nav-home {
  color: #00bfa5;
  border-bottom: 3px solid #00bfa5;
  width: 25px;
  margin-right: 20px;
}
.link {
  text-decoration: none;
  color: black;
}

@media screen {
  
  .top-bar {
    text-align: center;
    align-items: center;
  }

  .nav-logo {
    display: none;
  }
  ul .nav-home {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: -18px;
  }

  ul li {
    font-size: 14px;
    gap: 5px;
    margin-top: 20px;
  }
  
    .nav-bar1 ul {
      
      gap: 10px;
    }
}
