.card-container{
    width: 13rem;
    display: flex;
    flex-direction: column;
    margin: 4.2rem;
    height: fit-content;
    justify-content: center;
}
.card-img{
    width: 237px; 
    height: 237px;
    border-radius: 28px 8px 28px 8px;
    gap: 20px;
    object-fit: cover;
}
.card-text{
    margin: 0px;
    padding: 0;
    width: 11rem;
    height: 3rem;
    justify-content: left;

    color: black;

}
.card-job{
    padding-top: 0%;
    margin: 0;
    font-size: 12px;
    font-weight: 200;
}
.card-name{
    padding-top: 0%;
    margin: 0;
    font-size: 19px;
    font-weight: 367;
}
.social-handles-container{
  display: flex;
  flex-direction: row;
}
img{
    width: 20px;
    margin-right: 6px;
   
}
.image-container{
    width: 13rem;
    height: 190px;
    overflow: hidden;
    border-radius: 1rem 0rem 1rem 0rem;
}